body {
background-color: cadetblue;
}

#stickyNavbar {
    top: 0;
    transition: all 0.3s ease-in-out;
}
#stickyNavbar.out {
    transform: translateY(-80px);
}

.w-inherit {width: inherit;}
.w-content {
    width: fit-content;
}
.h-content {
    height: fit-content;
}

hr {margin: 4px}

.navbar a {font-size: 18px;}


#catalogToFixed a {
    font-size: 17px;
    padding: 10px 5px 10px 15px!important;
    text-align: start;
    color: black!important;
    text-decoration: none!important;
    transition: all 0.3s ease-in-out;
}
.carousel-item h1 {
    text-shadow: black 2px 1px 1px;
}
.carousel-item p {
    font-size: 20px;
    text-shadow: black 2px 1px 0px;
}

#catalogToFixed a:hover {
    padding-left: 20px!important;
    color: rgb(0, 119, 255)!important;
}
#catalogToFixed label {
    position: absolute;
    right: 18px;
}

#shareSlider {
    margin: 6rem 0rem 0.5rem 0rem ;
    height: 300px;
}
.carousel-item img {height: 100%;overflow-y: hidden;}

#headerInfo {margin-top: 0rem;}

#catalogToFixed {
    top: auto;
    transition: all 0.3s ease-in-out;
}
#contentSearch {
    height: 40px;
}
#productGrid {
    margin-left: 2%;
}
#catalogToFixed {top: 10px;transition: all 0.4s ease-in-out;}

.card {height: 370px;}
.card-image-box img {
    width: auto;
    height: 100%;

}
.card-image-box {
    margin: 10px;
    display: flex;
    justify-content: center;
    height: 330px;
}

.card span {font-weight: 500;}
.discount-text {
    color: #e9095e;
}


.address-text {
    font-size: 18px;
}

.currentProduct {
    border: none!important;
    height: fit-content!important;
}

.currentProductImage {
    border-radius: 5px;
    height: 550px;
    width: auto;
}

.product {height: 456px!important;}

@media(min-width: 242px) {
    #catalogToFixed { width: inherit;}
    .p-toggle {padding: 0!important;}
    .toggle-offset-2 {margin-left: 0;}
    .catalog-d-toggle {display: flex; position: relative;}
}
@media(min-width: 768px) {
    #catalogToFixed { width: 270px;}
    #catalogToFixed.toFixedTop {
        position: fixed!important;
        top: 76px;
        width: 270px;
    }
    .p-toggle {padding: 1!important;}
    .toggle-offset-2 {margin-left: 18%;;}
    .catalog-d-toggle {display: flex; position: absolute;}
}
@media (min-width: 1200px) {
    .col-xl-3 {width: 22%!important;}
}

@media (min-width: 1532px) {

}
@media (min-width: 1932px) {

}